
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    outline: none;
}

/* header section starts */
.header{
    text-align: center;
}
.title{
    color: rgb(5, 44, 150);
}
.title span{
    color: blueviolet;
}
.btn{
    color: white;
    background-color:rgb(5, 44, 150);
    border: none;
    border-radius: 3px;
    padding: .20rem 1rem;
}

.no-result-found{
    /* grid-column: 1 / -1; */
    text-align: center;
    font-size: 2rem;
    color: gray;
}

/* display cards section starts */
#search-result{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-gap: 1rem;
    margin: 10px 50px 20px;
}

#search-result div{
    text-align: center;
    border: 2px solid rgb(80, 52, 145);
    border-radius: .5rem;
    box-shadow: 3px 5px 5px gray;
    width: 25rem;
}

#search-result div img {
    padding: .5rem;
    height: 16rem;
    width: 12rem;
    margin-top: 1rem;
}

#search-result div h3{
    color: rgb(25, 49, 100);
}

#details-btn{
    margin-top: .5rem;
    margin-bottom: 1rem;
}

/* full detail section starts */
.device-details{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-gap: 2rem;
    margin-top: 1rem;
    text-align: center;
    box-shadow: 0px 1px 8px 1px gray;
    border: 3px solid rgb(80, 52, 145);
    border-radius: .5rem;
   
}

.device-details .div1{
    margin-top: 1rem;
    padding: 1rem;
}

.device-details .div1 img{
    height: 16rem;
    width: 12rem;
}

.device-details .div1 span, .div2 span, .div3 span{
    color: rgb(25, 49, 100);
}

.device-details .div2 ,.div3 {
    font-size: 1.5rem;
    height: 15rem;
    padding: 1rem;
    margin-top: 1rem;
    justify-self: center;
    align-self: center;
}

.device-details .div2 h4 ,.div3 h4{
    margin-bottom: 1rem;
    color: rgb(5, 44, 150);
}
