
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    outline: none;
}

section{
    margin: 1rem 3.2rem;
}

/* header section starts */
.header{
    text-align: center;
}

.title{
    color: rgb(15, 170, 218);
}

.title span{
    color: rgb(5, 44, 150);
}

#search-btn{
    color: white;
    background-color:rgb(15, 170, 218);
    border: none;
    border-radius: 3px;
    padding: .6rem 1rem;
}

.no-result-found{
    /* grid-column: 1 / -1; */
    text-align: center;
    font-size: 2rem;
    color: gray;
}

/* display cards section starts */

.input{
    padding: .5rem 7rem;
}

#search-result{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-gap: 1rem;
    /* margin: 10px 50px 20px; */
}

.device-card{
    text-align: center;
    border: 2px solid rgb(15, 170, 218);
    border-radius: .5rem;
    box-shadow: 3px 5px 5px gray;
    height: 25rem;
}

.device-card img {
    padding: .5rem;
    height: 16rem;
    width: 12rem;
    margin-top: 1rem;
}

.device-card h3{
    color: rgb(15, 170, 218);
}

#details-btn{
    color: white;
    text-decoration: none;
    background-color:rgb(5, 44, 150);
    border: none;
    border-radius: 3px;
    padding: .20rem 1rem;
    margin-top: .5rem;
    margin-bottom: 1rem;
}

/* full detail section starts */
.device-details{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-gap: 2rem;
    margin-top: 1rem;
    text-align: center;
    box-shadow: 0px 1px 8px 1px gray;
    border: 3px solid rgb(15, 170, 218);
    border-radius: .5rem;  
}

.device-details .div-1{
    margin-top: 1rem;
    padding: 1rem;
}

.device-details .div-1 img{
    height: 16rem;
    width: 12rem;
}

.device-details .span{
    color: rgb(15, 170, 218);
}

.device-details .div-2 ,.div-3 {
    font-size: 1rem;
    height: 15rem;
    padding: 1rem;
    margin-top: 1rem;
    justify-self: center;
    align-self: center;
}

.device-details .div-2 h2 ,.div-3 h2{
    margin-bottom: 1rem;
    color: rgb(5, 44, 150);
}



/* responsive code */

@media (max-width:1200px){
    html{
        font-size: 90%;
    }
}

@media (max-width:1000px){
    html{
        font-size: 85%;
    }
}

@media (max-width:800px){
    html{
        font-size: 70%;
    }
}

@media (max-width:576px){
    html{
        font-size: 60%;
    }
    section{/* padding: 0 4rem; */
        margin: 1rem 2.2rem;
    }
    .input{
        padding: .3rem 6rem;
    }
    #search-btn{
        padding: .5rem 1rem;
    }
   #search-result{
        grid-template-columns: 1fr;
        grid-gap: 1.5rem;
    }
    .device-details{
        grid-template-columns: 1fr;
        grid-gap: 1rem;
        border: 2px solid rgb(15, 170, 218);
        border-radius: .5rem;  
    }
    .device-details .div-2, .div-3 {
        height: 12rem;
    }
}

@media (max-width:350px){
    html{
        font-size: 50%;
    }
    .input{
        padding: .3rem 5rem;
    }
    #search-btn{
        padding: .4rem 1rem;
    }
}

@media (max-width:300px){
    html{
        font-size: 45%;
    }
    .input{
        padding: .3rem 4rem;
    }
    #search-btn{
        padding: .3rem 1rem;
    }
}

@media (max-width:280px){
    html{
        font-size: 45%;
    }
    .input{
        padding: .3rem 3.3rem;
    }
}

@media (max-width:250px){
    html{
        font-size: 40%;
    }
    .input{
        padding: .3rem 3rem;
    }  
}